#animSelectorPanel{
    display: flex;
    overflow: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 100px;
    border: 2px black solid;
    z-index: 1;
    background-color: grey;        
}
.buttons{    
    width: auto;
    float: inline;
    display:flex;
    flex-direction: column;    
}
.btns{
    width: 50px;
    height: 50px;
}
.playPauseBtns{
    width: 40px;
    height: 40px;
}
#playBtnDiv{
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    left: 82%;
    bottom: 30%;
    

}
#uploadBtn{
    width: 40px;
    height: 40px;
}
#uploadDiv{
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    bottom: 15px;
    left: 10px;
}
#up{
    background-image: url(./kepek/up.png);
    background-size: cover;
}
#texts{
    flex:1;
    border-left-color: black;
    border-left: 3px;
    border-left-style: solid;    
    height: 100%;
    overflow: hidden;
}
#flagDiv{
    color: orange;
    height:fit-content;
    width: auto;    
    position: fixed;
    flex-direction: row;
    display: flex;
    bottom: 0;
    right: 0;
    font-family: 'Times New Roman', Times, serif;       
    overflow: auto;
}
.animDictionaryAndNameDiv{
    width: 100%;
    float: inline;
    display:flex;
    height: 100%;
    flex-direction: row; 
}
.animDictionaryAndNameDiv div{
    width: 120px;     
}
#anyad{
    display: flex;
    flex-direction: column;
    width: auto;
}
#animDictionary {
    width: 250px;
  }
#animName {
    width: 250px;
  }
.animDictAndNameClass{
    color: orange;
    height:fit-content;
    width: 150px;        
    flex-direction: column;
    display: flex;    
    font-family: 'Times New Roman', Times, serif;       
    overflow: auto;
}
