@font-face {
	font-family: "Roboto";
	src: local('Roboto'), 
	url('../fonts/Roboto.ttf') format('truetype');
}


body{
  background-color: rgba(0,0,0,0);
  font-family: Tahoma, sans-serif;
  text-shadow: 2px 2px 5px black;
  font-family: 'Roboto';
  overflow: hidden;
}


table{
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 10%;
  transform: translate(-50%,0%);
  background-color: red;
}