@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body
{
	background-color: rgba(0,0,0,0);
}

#charlist
{
    position: absolute;
    left: 5%;
    top: 35%;
    width: 15%;
    
}

h2
{
    text-align: center;
}

#charlist ul li
{
    color:white;
    background-color: rgba(0,0,0,0.5);
}

#charlist ul li:hover
{
    background-color: rgba(0,0,0,0.8);
}

#chardetails
{
    position: absolute;
    right: 5%;
    top: 35%;
    width: 15%;
    text-align: justify;
}

#buttons
{
    position: absolute;
    left: 40%;
    bottom: 5%;
}