@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

body
{
	background-color: rgba(0,0,0,0);
	user-select: none;
}

#charlist
{
    position: absolute;
    left: 5%;
    top: 35%;
    width: 15%;
    
}

h2
{
    text-align: center;
}

#charlist ul li
{
    color:white;
    background-color: rgba(0,0,0,0.5);
}

#charlist ul li:hover
{
    background-color: rgba(0,0,0,0.8);
}

#chardetails
{
    position: absolute;
    right: 5%;
    top: 35%;
    width: 15%;
    text-align: justify;
}



#enterGame{
	position: absolute;
	width: 250px;
	height: 3%;

	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0%);
}

#editChar{
	position: absolute;
	width: 250px;
	bottom: 5%;
	left: 80%;
	transform: translate(-50%, 0%);
}

#newChar{
	position: absolute;
	width: 250px;
	bottom: 5%;
	left: 20%;
	transform: translate(-50%, 0%);
}
