#menu{
    border: 2px solid orange;
    height: 300pt;
    width: auto;
    float: left;
    display:flex;
    flex-direction: column;
    overflow: auto;   
}
#tartalom{
    border: 2px solid red;
    height: 300pt;
    width: 500pt;
    overflow: auto;
    
}
#animpanel{
    display: flex;
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}