@font-face {
	font-family: "Roboto";
	src: local('Roboto'), 
	url('../fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: "SignPainter";
  src: local('SignPainter'), url('../fonts/SignPainter.ttf') format('truetype');
}

:root{
  --gradient-background: linear-gradient(45deg, rgba(228,99,8,0.60) 0%, rgba(228,131,8,0.60) 35%, rgba(228,165,8,0.60) 100%);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: rgba(0,0,0,0);
  font-family: Tahoma, sans-serif;
  text-shadow: 2px 2px 5px black;
  font-family: 'Roboto';
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: clip;
  user-select: none;
  transition-duration: 50ms;
}

.interactions{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: 1vh;
  width: 75vh;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
  justify-content: center;
}

.interactions .interaction{
  border-radius: 1vh;
  color: white;
  width: 6vh;
  height: 6vh;
  margin: 1vh;
  vertical-align: bottom;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.interactions .slot_box:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
}

.interaction p{
  font-weight: bold;
  text-align: center;
  overflow: visible;
  position: absolute;
  bottom: -3vh;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 1vh;
}

#giveitem{
  background-image: url("giveicon.png");
}

#useitem{
  background-image: url("useitem.png");
}

#renameitem{
  background-image: url("renameitem.png");
}

#splititem{
  background-image: url("splititem.png");
}

#showitem{
  background-image: url("showitem.png");
}

#dropitem{
  background-image: url("dropitem.png");
}

.actionbar{
  position:absolute;
  width: auto;
  height: auto;
  bottom: 5vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.action_slot{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  width: 7vh;
  height: 7vh;
  margin: 0.5vh;
  background: rgb(228,99,8, 0.65);
  background: var(--gradient-background);
  /* background-color: rgba(0,0,0,0.2); */
  border: rgba(0,0,0,0.5) solid 2px;
  color: white;
  /* border-radius: 1vh; */
}

.action_slot:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  outline: solid 1px #d65d26;
}

.action_number{
  font-family: "SignPainter";
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 3vh;
}

.inventory{
  width: 60vh;
  height: 80vh;
  background-color: rgba(0,0,0,0.05);
  border: rgba(0,0,0,0.5) solid 2px;
  /* outline: solid 1px rgba(0,0,0,0.5); */
  /* border-radius: 1vh; */
  position: absolute;
  overflow: hidden;
}

.player {
  right: 2vh;
  top: 2vh;
}

#playername p{
  font-family: "SignPainter";
  font-size: 1.7em;
  margin: 0;
}

.container {
  left: 2vh;
  top: 2vh;
}

.header{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--gradient-background);
  color: white;
  position: relative;
}

.w3-grey{
  position: relative;
  left: 0px;
  width: 100%;
  margin: 0;
  height: 2.5vh;
  user-select: none;
  outline: none;
  border: none;
  outline: solid 1px black;
}

.totalweight{
  height: 2vh;
  background-color: #d65d26;
  user-select: none;
  transition-duration: 1000ms;
}

.weightdisplay{
  font-family: "SignPainter";
  font-size: 1.25em;
  position: absolute;
  right: 2vh;
  top: 50%;
  transform: translate(0,-50%);
  color: white;
}

.header .headertext{
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.5vh;
  overflow: hidden;
  font-variant: small-caps;
}
/* .header .headertext p{
  position: relative;
  float: left;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.search{
  font-family: sans-serif;
  font-size: 1.5vh;
  width: 10vh;
  height: 3vh;
  margin: 0.75vh;
  float: right;
  background-color: rgba(0,0,0, 1);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 1vh;
  outline: solid 1px white;
}
.search:hover{
  outline: solid 1px #d65d26;
}
.search:focus{
  outline: solid 1px #d65d26;
}

.search:active{
  outline: solid 1px #d65d26;
}



.tooltip{
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  border-radius: 2vh;
  color: white;
	padding: 1vh;
  position: absolute;


  text-align: center;


  display: inline;
  margin: 0px;
  overflow: clip;
  width: 30vh;
  height: 8vh;

  display: none;
  pointer-events: none;
}

.tooltip .tooltipimage{
  position: absolute;
  left: 1vh;
  top: 1vh;
  width: 5vh;
  height: 5vh;
  background: linear-gradient(0deg, black, white);
  border-radius: 2vh;
}

.tooltip .tooltipimage img{
  width: 100%;
  height: 100%;
}

.tooltip .tooltiptext{
  position: absolute;
  left: 7vh;
  top: 1vh;
  width: 22vh;
  height: 5vh;
}

.tooltip .tooltiptext .name{
  border-bottom: solid 1px white;
}

.tooltip .weight{
  position: absolute;
  left:0.5vh;
  bottom: 0.5vh;
  width: 6vh;
  text-align: center;
  font-size: 1vh;
}


.inventory-items,
.container-items{
  min-height: 71vh;
  max-height: 100%;
  position: relative;
  /* left: 0;
  top: 7.5vh; */
  width: 100%;
  height: 100%;
  flex-direction: row;
  /* margin: 0.5vh; */
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  overflow: auto;
  height: auto;
  align-content: flex-start;
  min-width: 0;
}

.invisible {
  visibility: hidden;
}

.ghostItem{
  /*border: solid 0.2vh white;
  border-radius: 0.5vh;*/
  margin: 0vh;
  width: 4vw;
  height: 7vh;
  min-height: 0;
  /*box-shadow: 1px 1px black;*/
}

.ghostItem img{
  width: 4vw;
  background-color: rgb(0, 0, 0, 0);
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}


.ghostItem .name{
  font-weight: bold;
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  bottom: 5%;
  text-align: center;
}

.ghostItem .amount{
  position: absolute;
  color: white;
  left: 0.25vh;
  top: 0.25vh;
}

.ghostItem .weight{
	  position: absolute;
  color: white;
  right: 0.25vh;
  top: 0.25vh;
  text-align: right;
}

.slot .item{
  margin: 0;
}

.slot .item img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  pointer-events: none;
}

.item{
  margin: 0.75vh;
  width: 8vh;
  height: 8vh;
  min-height: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 0.5vh;
  position: relative;
  align-self: stretch;
}

.item:hover{

  transition-duration: 150ms;
  transform: scale(1.1);
}



.item img{
  width: 7vh;
  height: 7vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  pointer-events: none;
  }
  
.item .amount{
  position: absolute;
  color: white;
  left: 0.5vh;
  top: 0.5vh;
  font-size: 1.25vh;
}

.item .name{
  font-weight: bold;
  position: absolute;
  color: white;
  left: 50%;
  bottom: 0vh;
  transform: translate(-50%,0);
  width: 100%;
  height: 2vh;
  background-color: rgba(0,0,0,0);
  text-align: center;
  font-size: 1.2vh;
}



.givemenu{
  display: none;
  position: absolute;
  width: 30vh;
  height: 40vh;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,1);
  font-size: 1.5vh;
  border-radius: 1vh;
  color: white;
  min-width: 8vh;
  left: 50%;
  top: 50%;
}

.givemenu .close{
  position: absolute;
  right: 2%;
  top: 2%;
  width: auto;
  height: auto;
  color: white;
  font-size: 2vh;
}

.givemenu .close:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  color: #d65d26;
}

.givemenu .itemname{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,0);
  font-size: 2vh;
  font-weight: bold;
}

.givemenu .nearbyplayers{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25vh;
  height: 20vh;
  border-radius: 1vh;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.givemenu .nearbyplayers .playerselect{
  background-color: rgba(0,0,0,0);
  border: 0;
  color: white;
  font-size: 2vh;
  border-radius: 1vh;
  outline: solid 1px white;
  margin: 0.5vh;
}

.givemenu .nearbyplayers .playerselect:hover{
  transition-duration: 200ms;
  outline: solid 1px #d65d26;
}

.givemenu .amount{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,0);
  width: 80%;
  -webkit-appearance: none; 
  appearance: none;
  height: 2vh; 
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1vh; 
}

.givemenu .amountnumber{
  position: absolute;
  left: 50%;
  top: 42%;
  font-size: 2vh;
  transform: translate(-50%,0);
}

.givemenu .amount:hover{
  opacity: 1;
}

.givemenu .amount::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh; 
  height: 2vh;
  border-radius: 1vh;
  background: #d65d26;
  cursor: pointer;
}

.givemenu .title{
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 8%;
  width: 80%;
  height: auto;
  text-align: center;
}

.itemmenu{
  display: none;
  position: absolute;
  width: 10vh;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.5vh;
  color: white;
  min-width: 8vh;
  text-align: center;
  user-select: none;
  transform: translate(-50%,0);
}

.menubutton{
  text-align: center;
  width: 100%;
  left: 0vh;
  margin: auto;
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  font-weight: bold;
  user-select: none;
}

.menubutton:hover{
  background-color: #d65d26;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}


.clothes {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  width: 45vh;
  height: 63vh;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);
  top: 20vh;
}

.clothes .slot_box, .interactions .slot_box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d65d26;
  background: var(--gradient-background);
  width: 8vh;
  height: 8vh;
  margin: 10px 0px;
  border: rgba(0,0,0,0.5) solid 2px;
}

.interactions .slot_box{
  margin: 0px 10px;
}

.clothes .slot{
  width: 7vh;
  height: 7vh;
  /* background-color: rgba(0,0,0,0.8); */
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px;
}

.clothes .slot_box:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
}

.clothes .slot .item:hover{
  transform: none;
}


.clothes .slot .item{
	width: 100%;
	height: 100%;
  /* background-color: rgba(0,0,0,1); */
	margin: 0;
	border: none;
}

#kalap{
  background-image: url("hat.png");

}
#nyaklanc{
  background-image: url("necklace.png");

}
#polo{
  background-image: url("shirt.png");
}
#kesztyu{
  background-image: url("gloves.png");
}
#nadrag{
  background-image: url("legs.png");
}
#cipo{
  background-image: url("shoes.png");
}
#taska{
  background-image: url("backpack.png");
}
/* itt volt elválasztva */
#maszk{
  background-image: url("mask.png");
}
#szemuveg{
  background-image: url("glasses.png");
}
#fulbevalo{
  background-image: url("earrings.png");
}
#karkoto{
  background-image: url("bracelet.png");
}
#ora{
  background-image: url("watch.png");
}
#armor{
  background-image: url("armor.png");
}
#kituzo{
  background-image: url("decal.png");
}


