@font-face {
	font-family: "Roboto";
	src: local('Roboto'), 
	url('../fonts/Roboto.ttf') format('truetype');
}


body{
  background-color: rgba(0,0,0,0);
  font-family: Tahoma, sans-serif;
  text-shadow: 2px 2px 5px black;
  font-family: 'Roboto';
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: clip;
  user-select: none;
}

.interactions{
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  top: 1vh;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh;
}

.interactions .interaction{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1vh;
  color: white;
  width: 7vh;
  height: 7vh;
  margin-left: 1vw;
  margin-right: 1vw;
  outline: solid 1px white;
  vertical-align: bottom;
  box-shadow: 1px 1px black;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.interactions .interaction:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  outline: solid 1px #ff8c61;
}

.interaction p{
  font-weight: bold;
  text-align: center;
  overflow: visible;
  position: absolute;
  bottom: -3vh;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 1.2vh;
}

#giveitem{
  background-image: url("giveicon.png");
}

#useitem{
  background-image: url("useitem.png");
}

#renameitem{
  background-image: url("renameitem.png");
}

#showitem{
  background-image: url("showitem.png");
}

#dropitem{
  background-image: url("dropitem.png");
}

.actionbar{
  position:absolute;
  width: auto;
  height: auto;
  left: 50vw;
  bottom: 5vh;
  transform: translate(-50%,0);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.action_slot{
  width: 7vh;
  height: 7vh;
  margin: 0.5vh;
  background-color: rgba(0,0,0,0.2);
  outline: solid 1px white;
  color: white;
  border-radius: 1vh;
}

.action_slot:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  outline: solid 1px #ff8c61;
}

.action_number{
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3vh;
  line-height: 3.5;
  vertical-align: middle;
}

.inventory{
  width: 30vw;
  height: 30vw;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  overflow: hidden;
}

.player {
  right: 5vw;
  top: 25vh;
}

.container {
  left: 5vw;
  top: 25vh;
}

.header{
  width: 29vw;
  height: 5vh;
  background-color: rgba(0,0,0,0.8);
  border-style: none none solid none;
  border-color: #ff8c61;
  border-width: 0.25vh;
  color: white;
  padding: 0.5vw;
  position: relative;
}

.header .headertext{
  position: absolute;
  line-height: 5.5vh;
  left: 5%;
  top: 10%;
  width: 80%;
  height: 80%;
  font-size: 200%;
  overflow: hidden;
}

.search{
  font-family: sans-serif;
  font-size: 1.5vh;
  width: 10vh;
  height: 3vh;
  margin: 0.75vh;
  float: right;
  background-color: rgba(0,0,0, 1);
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 1vh;
  outline: solid 1px white;
}
.search:hover{
  outline: solid 1px #ff8c61;
}
.search:focus{
  outline: solid 1px #ff8c61;
}

.search:active{
  outline: solid 1px #ff8c61;
}



.tooltip{
  font-family: sans-serif;
  font-weight: bold;
  background-color: rgba(0,0,0,0.8);
  color: white;
	padding: 1vh;
  position: absolute;
  text-align: center;
  display: inline;
  margin: 0px;
  overflow: clip;
  width: auto;
  height: auto;
  display: none;
  pointer-events: none;
}


.inventory-items,
.container-items{
  min-height: 88%;
  max-height: 88%;
  flex-direction: row;
  margin: 0.5vh;
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  overflow: auto;
  height: auto;
  align-content: flex-start;
  min-width: 0;
}

.invisible {
  visibility: hidden;
}

.ghostItem{
  /*border: solid 0.2vh white;
  border-radius: 0.5vh;*/
  margin: 0vh;
  width: 4vw;
  height: 7vh;
  min-height: 0;
  /*box-shadow: 1px 1px black;*/
}

.ghostItem img{
  width: 4vw;
  background-color: rgb(0, 0, 0, 0);
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}



.ghostItem .name{
  font-weight: bold;
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  bottom: 5%;
  text-align: center;
}

.ghostItem .amount{
  position: absolute;
  color: white;
  left: 0.25vh;
  top: 0.25vh;
}

.ghostItem .weight{
	  position: absolute;
  color: white;
  right: 0.25vh;
  top: 0.25vh;
  text-align: right;
}

.slot .item{
  margin: 0;
}

.item{
  margin: 0.75vh;
  width: 7vh;
  height: 10vh;
  min-height: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 1vh;
  outline: solid 1px white;
  position: relative;
  align-self: stretch;
}

.item:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  outline: solid 1px #ff8c61;
}

.item img{
  width: 7vh;
  height: 7vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  user-select: none;
  pointer-events: none;
  }
  
.item .amount{
  position: absolute;
  color: white;
  left: 0.5vh;
  top: 0.5vh;
  font-size: 1.25vh;
}

.item .name{
  font-weight: bold;
  position: absolute;
  color: white;
  left: 50%;
  bottom: 0vh;
  transform: translate(-50%,0);
  width: 100%;
  height: 2.25vh;
  background-color: rgba(0,0,0,0.6);
  
  text-align: center;
  font-size: 1.2vh;
}

.item .weight{
  position: absolute;
  color: white;
  right: 0.5vh;
  top: 0.5vh;
  text-align: right;
  font-size: 1vh;
}

.item .colorcode{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.75vh;
  background-color: red;
  text-align: center;
}


.givemenu{
  display: none;
  position: absolute;
  width: 30vh;
  height: 40vh;
  transform: translate(-50%,-50%);
  background-color: rgba(0,0,0,1);
  font-size: 1.5vh;
  border-radius: 1vh;
  color: white;
  min-width: 8vh;
  left: 50%;
  top: 50%;
}

.givemenu .close{
  position: absolute;
  right: 2%;
  top: 2%;
  width: auto;
  height: auto;
  color: white;
  font-size: 2vh;
}

.givemenu .close:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  color: #ffb347;
}

.givemenu .itemname{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,0);
  font-size: 2vh;
  font-weight: bold;
}

.givemenu .nearbyplayers{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25vh;
  height: 20vh;
  border-radius: 1vh;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.givemenu .nearbyplayers .playerselect{
  background-color: rgba(0,0,0,0);
  border: 0;
  color: white;
  font-size: 2vh;
  border-radius: 1vh;
  outline: solid 1px white;
  margin: 0.5vh;
}

.givemenu .nearbyplayers .playerselect:hover{
  transition-duration: 200ms;
  outline: solid 1px #ffb347;
}

.givemenu .amount{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%,0);
  width: 80%;
  -webkit-appearance: none; 
  appearance: none;
  height: 2vh; 
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1vh; 
}

.givemenu .amountnumber{
  position: absolute;
  left: 50%;
  top: 42%;
  font-size: 2vh;
  transform: translate(-50%,0);
}

.givemenu .amount:hover{
  opacity: 1;
}

.givemenu .amount::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2vh; 
  height: 2vh;
  border-radius: 1vh;
  background: #ffb347;
  cursor: pointer;
}

.givemenu .title{
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 8%;
  width: 80%;
  height: auto;
  text-align: center;
}

.itemmenu{
  display: none;
  position: absolute;
  width: 10vh;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.5vh;
  color: white;
  min-width: 8vh;
  text-align: center;
  user-select: none;
  transform: translate(-50%,0);
}

.menubutton{
  text-align: center;
  width: 100%;
  left: 0vh;
  margin: auto;
  margin-top: 0.25vh;
  margin-bottom: 0.25vh;
  font-weight: bold;
  user-select: none;
}

.menubutton:hover{
  background-color: #ff8c61;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}


.clothes {
  display: block;
  align-content: flex-start;
  width: 45vh;
  height: 63vh;
  position: absolute;
  left: 50vw;
  transform: translate(-50%, 0);

  top: 20vh;
}

.clothes .slot{
  width: 7vh;
  height: 7vh;
  background-color: rgba(0,0,0,0.8);
  outline: solid 1px white;
  color: white;
  border-radius: 1vh;
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.clothes .slot:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
  outline: solid 1px #ff8c61;
}

.clothes .slot .item:hover{
  transform: none;
}


.clothes .slot .item{
	width: 100%;
	height: 100%;
  background-color: rgba(0,0,0,1);
	margin: 0;
	border: none;
}

#kalap{
  position: absolute;
  left: 1vh;
  top: 1vh;
  background-image: url("hat.png");

}
#nyaklanc{
  position: absolute;
  left: 1vh;
  top: 9vh;
  background-image: url("necklace.png");

}
#polo{
  left: 1vh;
  top: 17vh;
  background-image: url("shirt.png");
}
#kesztyu{
  left: 1vh;
  top: 25vh;
  background-image: url("gloves.png");
}
#nadrag{
  left: 1vh;
  top: 33vh;
  background-image: url("legs.png");
}
#cipo{
  left: 1vh;
  top: 41vh;
  background-image: url("shoes.png");
}
#taska{
  left: 1vh;
  top: 49vh;
  background-image: url("backpack.png");
}


#maszk{
  right: 1vh;
  top: 1vh;
  background-image: url("mask.png");
}
#szemuveg{
  right: 1vh;
  top: 9vh;
  background-image: url("glasses.png");
}
#fulbevalo{
  right: 1vh;
  top: 17vh;
  background-image: url("earrings.png");
}
#karkoto{
  right: 1vh;
  top: 25vh;
  background-image: url("bracelet.png");
}
#ora{
  right: 1vh;
  top: 33vh;
  background-image: url("watch.png");
}
#armor{
  right: 1vh;
  top: 41vh;
  background-image: url("armor.png");
}
#kituzo{
  right: 1vh;
  top: 49vh;
  background-image: url("decal.png");
}


