.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: clip;
  user-select: none;
}

.player {
  width: 46vh;
  height: 30vh;
  background-color: rgba(126, 126, 126, 0.8);
  position: absolute;
  right: 5vh;
  top: 5vh;
  border: solid grey 0.1vh;
}

.container {
  width: 40vh;
  height: 35vh;
  background-color: rgba(126, 126, 126, 0.8);
  position: absolute;
  right: 65vh;
  top: 5vh;
  border: solid grey 0.1vh;
  display: none;
}

.clothes {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 21vh;
  height: 29vh;
  background-color: rgba(126, 126, 126, 0.8);
  position: absolute;
  right: 60vh;
  top: 5vh;
  border: solid grey 0.1vh;
}

.clothes .slot{
  width: 5vh;
  height: 5vh;
  margin: 1vh;
background-color: white;

}


.header{
  width: 46vh;
  height: 5vh;
  background-color: rgba(126, 126, 126, 1);
  border-style: none none solid none;
  border-color: white;
  border-width: 0.25vh;
}

.search{
  font-family: sans-serif;
  font-size: 1.5vh;
  width: 10vh;
  height: 3vh;
  margin: 0.75vh;
  float: right;
  background-color: rgba(0,0,0, 1);
  color: white;
  font-weight: bold;
  text-align: center;
  border: solid 1px white;
  
}

.tooltip{
  font-family: sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
	padding: 1vh;
  position: absolute;
  text-align: center;
  display: inline;
  margin: 0px;
  overflow: clip;
  display: none;
}

.items{
  min-height: 82%;
  max-height: 82%;
  flex-direction: row;
  margin: 0.5vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
}

.invisible {
  visibility: hidden;
}


.ghostItem img{
  width: 5vh;
  background-color: rgb(0, 0, 0);
}

.item{
  margin: 0.5vh;
  width: 5vh;
  height: 5vh;
  min-height: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border: solid 1px white;
  position: relative;
  align-self: stretch;
}

.itemmenu{
  display: none;
  position: absolute;
  width: 10vh;
  height: 7vh;
  background-color: rgba(0,0,0,0.5);
  color: white;
  min-width: 8vh;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
  border-radius: 0.5vh;
  text-align: center;
  user-select: none;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  transform: translate(-50%,0);
}

.menubutton{
  text-align: center;
  width: 9vh;
  left: 0vh;
  margin: 0.5vh;
  font-weight: bold;
  user-select: none;
}

.menubutton:hover{
  background-color: red;
}

.item img{
width: 100%;
}

.amount{
  position: absolute;
  color: white;
  left: 0.25vh;
  top: 0.25vh;
}

.name{
  font-weight: bold;
  position: absolute;
  color: white;
  left: 0vh;
  width: 8vh;
  bottom: 0vh;
  text-align: center;
}

.weight{
  position: absolute;
  color: white;
  right: 0.25vh;
  top: 0.25vh;
  text-align: right;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

