@font-face {
	font-family: "ChaletComprime-CologneSixty";
	src: local('Chalet Comprime Cologne Sixty'), local('Chalet-Comprime-Cologne-Sixty'),
	url('../fonts/ChaletComprime-CologneSixty.woff2') format('woff2'),
	url('../fonts/ChaletComprime-CologneSixty.woff') format('woff'),
	url('../fonts/ChaletComprime-CologneSixty.ttf') format('truetype');
}

@font-face {
	font-family: "Rage-Italic";
	src: local('RAGE'), local('RAGE'),
	url('../fonts/RAGE.ttf') format('truetype'),
}



body {
	
	font-style: normal;
	font-weight: normal;
	background-color: rgba(0,0,0,0);
}

#title{
	font-family: 'ChaletComprime-CologneSixty';
	user-select: none;
	color: white;
	-webkit-text-stroke: 1px black;
	position: absolute;
	width: 50%;
	bottom: 0.5%;
	left: 2.5%;
	text-align: left;
	font-size: 1.5rem;
	text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000,
		2px 3px 2px rgba(0,0,0,0.75);
}

i{
	font-style: normal;
	color: orange;
}