body{
    background-color: rgba(0,0,0,0);
}

#mainBox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    height: 50vh;
    width: 50vw;
    
}
#container{    
    left: 0;
    top: 5%;    
    position: absolute;
    width: 30px;
    min-height: 90%;    
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#endContainer{
    right: 0;
    top: 5%;
    position: absolute;
    width: 30px;
    min-height: 90%;    
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#containerBack{    
    left: 0;
    top: 5%;    
    position: absolute;
    width: 30px;
    min-height: 90%;    
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#endContainerBack{
    right: 0;
    top: 5%;
    position: absolute;
    width: 30px;
    min-height: 90%;    
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#blueWire{
    position: absolute;
    left: 9px;
    top: 10%
}
#wireforBlue{
    position: absolute;
    left: 65px;
    top: 9.4%
}
/*#s1{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: aqua;
}
#s2{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #f06c00;
}*/
#e1{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: blue;
}
#svg{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#blueWire{
    height: 35px;
}


/* DESIGN */

#mainBox{
    background-image: url(./img/backpic.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;

    border: solid 20px;
    border-color: rgb(41, 41, 44);
    border-radius: 10px;
    filter: drop-shadow(10px 10px 5px #0000008f);
}

.startPoints{
    border: 1px solid black;
    border-radius: 10px;
    outline-style: solid;
    outline-color: rgb(35, 35, 39);
    outline-width: 6px;
    filter: drop-shadow(5px 5px 5px #0000008f);
    z-index:2;
}
.endPoints{
    border: 1px solid black;
    border-radius: 10px;
    outline-style: solid;
    outline-color: rgb(35, 35, 39);
    outline-width: 6px;
    filter: drop-shadow(-5px 5px 5px #0000008f);
    z-index:2;
}
.startPointsBack{
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    outline-style: solid;
    outline-color: rgb(35, 35, 39);
    outline-width: 6px;
    z-index:1;
}

.endPointsBack{
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    outline-style: solid;
    outline-color: rgb(35, 35, 39);
    outline-width: 6px;
    z-index:1;
}

#line{
    filter: drop-shadow(0px 10px 5px black);
    stroke-linecap: round;
    stroke-width: 18;
    marker-end: url('https://www.s3i.co.uk/image/s3i/end-stop-for-wire-rope.jpg');
}

.newLines{
    filter: drop-shadow(0px 10px 5px black);
    stroke-linecap: round;
    stroke-width: 18;
    marker-end: url('https://www.s3i.co.uk/image/s3i/end-stop-for-wire-rope.jpg');
}