@font-face {
	font-family: "Roboto";
	src: local('Roboto'), 
	url('../fonts/Roboto.ttf') format('truetype');
}



body{
    background-color: rgba(0,0,0,0);
    margin: 0px;
    overflow: hidden;
}


.video-container {
	pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .music-container{
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 40vh;
    height: 152px;
    transform: translate(-50%,0);
  }
  
  .video-containeriframe {
    /* optional */
    width: 100%;
    height: 100%; 
  }


section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(1rem) grayscale (80%);
    text-shadow: 1px 1px 2px black;
    font-family: 'Roboto';
}

.form-box{
    position: relative;
    width: 40vh;
    height: 50vh;
    background: rgba(0,0,0,0);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#username{
    background: rgba(0,0,0,1);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

#password{
    background: rgba(0,0,0,1);
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}
.welcomeback
{
	color: black;
	font-size: 1em;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget a{
    color: #fff;
    text-decoration: none;
}
.forget a:hover{
    text-decoration: underline;
    font-weight: bold;
}
button{
	margin-top: 5%;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

img{
    display:flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    margin-bottom: -25px;
}

button:hover{
    background-color: #d4d4d4;
}
.changewindow{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.changewindow p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.changewindow p a:hover{
    text-decoration: underline;
}